Ideally I'm trying to make functions in this notebook, test it out, and later use it as functions for when I build a pairs trading model.

In [1]:
import numpy as np
import pandas as pd

In [2]:
import yfinance as yf

I had a lot of issues trying to install ta_lib, so I'm using something called pandas_ta instead.

My goal is to have a ticker txt file and for every ticker, scrape yfinance close prices and create a dataframe for each ticker.

In [3]:
ticker_list = []
filename = "tickers.txt"

try:
    with open(filename,'r') as file:
        for line in file:
            ticker = line.strip()
            ticker_list.append(ticker)
except:
    print(f"File '{filename}' not found.'")

In [4]:
ticker_list

['AAPL', 'NFLX', 'SBUX']

In [5]:
start = "2021-12-12"
end = "2023-12-12"

In [6]:
data = yf.download(tickers = ticker_list, start = start, end = end, actions=False)['Adj Close']

[*********************100%%**********************]  3 of 3 completed

In [7]:
data

                  AAPL        NFLX        SBUX
Date
2021-12-13  173.754730  604.559998  110.557739
2021-12-14  172.360657  597.989990  109.744530
2021-12-15  177.274506  605.039978  109.715828
2021-12-16  170.314041  591.059998  108.673019
2021-12-17  169.206711  586.729980  103.927719
...                ...         ...         ...
2023-11-13  184.800003  444.619995  103.510002
2023-11-14  187.440002  448.649994  105.599998
2023-11-15  188.009995  461.940002  106.029999
2023-11-16  189.710007  466.950012  107.209999
2023-11-17  189.690002  465.910004  105.570000

[487 rows x 3 columns]

In [8]:
import pandas_ta as ta

In [9]:
# moving averages:
'''
sma(): Simple Moving Average
ema(): Exponential Moving Average
wma(): Weighted Moving Average
hma(): Hull Moving Average
kama(): Kaufman Adaptive Moving Average
'''


'''
Function description:
Calculate specified moving averages for a given series of prices.

    Args:
        series (pd.Series): Series of prices.
        averages (list): List of moving average types to calculate.

    Returns:
        dict: A dictionary with moving average type as keys and the corresponding moving averages as values.
    """
'''
def movav(series, averages):
    moving_averages = {}

    for average_type in averages:
        if average_type == 'sma':
            moving_averages['SMA'] = ta.sma(series)
        elif average_type == 'ema':
            moving_averages['EMA'] = ta.ema(series)
        elif average_type == 'wma':
            moving_averages['WMA'] = ta.wma(series)
        elif average_type == 'hma':
            moving_averages['HMA'] = ta.hma(series)
        elif average_type == 'kama':
            moving_averages['KAMA'] = ta.kama(series)
        else:
            raise ValueError(f"Invalid moving average type: {average_type}")

    return moving_averages

In [10]:
apl_mv = movav(data['AAPL'], averages=['sma','ema','wma'])

In [11]:
apl_mv

{'SMA': Date
 2021-12-13           NaN
 2021-12-14           NaN
 2021-12-15           NaN
 2021-12-16           NaN
 2021-12-17           NaN
                  ...
 2023-11-13    179.463470
 2023-11-14    181.152939
 2023-11-15    182.579828
 2023-11-16    183.817191
 2023-11-17    185.144434
 Name: SMA_10, Length: 487, dtype: float64,
 'EMA': Date
 2021-12-13           NaN
 2021-12-14           NaN
 2021-12-15           NaN
 2021-12-16           NaN
 2021-12-17           NaN
                  ...
 2023-11-13    180.466205
 2023-11-14    181.734168
 2023-11-15    182.875227
 2023-11-16    184.117914
 2023-11-17    185.131021
 Name: EMA_10, Length: 487, dtype: float64,
 'WMA': Date
 2021-12-13           NaN
 2021-12-14           NaN
 2021-12-15           NaN
 2021-12-16           NaN
 2021-12-17           NaN
                  ...
 2023-11-13    181.848511
 2023-11-14    183.298790
 2023-11-15    184.545527
 2023-11-16    185.841923
 2023-11-17    186.909707
 Name: WMA_10, Length: 487, dtype: float64}

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
apl_df = pd.DataFrame(apl_mv)

In [ ]:
# Set the figure size
plt.figure(figsize=(12, 6))

# Plot the data with Seaborn
sns.lineplot(data=apl_df, dashes=False)

# Set labels and title
plt.xlabel('Date')
plt.ylabel('Value')
plt.title('Moving Averages')

# Display the legend
plt.legend(title='Moving Average Type')

# Rotate x-axis labels for better readability (optional)
plt.xticks(rotation=45)

# Show the plot
plt.show()

In [ ]:
def plot_ma(dictmv):
    
    dictmv = pd.DataFrame(dictmv)
    # Set the figure size
    plt.figure(figsize=(12, 6))

    # Plot the data with Seaborn
    sns.lineplot(data=dictmv, dashes=False)

    # Set labels and title
    plt.xlabel('Date')
    plt.ylabel('Value')
    plt.title('Moving Averages')

    # Display the legend
    plt.legend(title='Moving Average Type')

    # Rotate x-axis labels for better readability (optional)
    plt.xticks(rotation=45)

    # Show the plot
    plt.show()

In [ ]:
plot_ma(apl_mv)